#user-card{
    padding-right: 0;
    padding-left: 0;
    -webkit-box-shadow: 3px 2px 3px #9d9d9d;
    -moz-box-shadow: 3px 2px 3px #9d9d9d;
    box-shadow: 3px 2px 3px #9d9d9d;
    border: 1px solid #888888;
    overflow: hidden;
}
#leftlist,#mainpart{
    padding: 0;
}
.list-group-item{
    border-radius: 0;
}
#profile{
    padding-top: 100px;
    padding-bottom: 100px;
}
#profile table td{
    border: none;
    margin-top: 10px;
    font-size: 20px;
}
#profile form .row{
    margin-top: 10px;
    font-size: 20px;
}
#profile .item{
    text-align: center;
}
#profile .list{
    margin-left: -20px;
}
#avatar{
    margin-top: -25px;
    width: 270px;
}
#desc{
    padding: 3px 5px 3px 5px;
    margin: 25px auto;
    background-color: #d9edf7;
    width: 270px;
    height: 50px;
    border: solid 1px #888888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: #888888 3px 3px;
}
#mainpart{
    min-height: 500px;
    background-color: #F0F0F0;
}
#upload_image{
    margin:20px auto 0 auto;
    display: table;
}
#profile_submit{
    margin: 20px auto;
    display: table;
}

#change-password-submit{
    margin: 20px auto;
    display: table;
}
#course-release{
    margin-right: 20px;
}
.user-head{
    color: #8c8c8c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
hr{
    border: 1px white solid;
}
.course{
    margin: 10px 5px 10px 10px;
    padding: 20px 5px 20px 5px;
    border: 1px #9d9d9d solid;
    border-radius: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.course:hover{
    background-color: #93a1a1;
    box-shadow: 3px 3px 3px #b0b0b0;
}
.course_intro{
    margin-top: -10px;
}
.a-course{
    text-decoration: none;
    color: #000;
}
.a-course:hover{
    text-decoration: none;
}
.a-course:visited{
    text-decoration: none;
}
.a-course:link{
    text-decoration: none;
}
.handles{
    padding-left: 50px;
    padding-right: 50px;
}
#pagination{
    position: absolute;
    right: 20px;
    bottom: 30px;
}