{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block default_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<header>
    {% include "header.html" %}
</header>
<div id="user-card" class="col-md-8 col-md-offset-2">
    <div class="col-md-2" id="leftlist">
        <div class="list-group">
            <a class="list-group-item disabled">个人中心</a>
            <a href="{% url 'center' %}" class="list-group-item" id="center" style="margin-right:0;">个人信息<span style="background-color:blue;">s</span> </a>
            <a href="{% url 'profile_settings' %}" class="list-group-item" id="profile-settings">修改个人信息</a>
            <a href="{% url 'change_password' %}" class="list-group-item" id="change-password">修改密码</a>
            {% if userprofile.account_type == 's' %}
{#                需要userprofile #}
                <a href="#" class="list-group-item" id="apply-teacher">申请成为教师</a>
            {% endif %}
            <a href="#" class="list-group-item" id="course-control">正在学习</a>
            {% if userprofile.account_type == 't' %}
                <a href="#" class="list-group-item" id="my-course">课程管理</a>
            {% endif %}
            {% if userprofile.account_type == 'c' %}
                <a href="#" class="list-group-item" id="apply-manage">教师申请管理</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-10" id="mainpart">
        {% block content %}{% endblock %}
    </div>
</div>

<footer>
    {% include 'footer.html' %}
</footer>
{% block default_js %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fontawesome/svg-with-js/js/fontawesome-all.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>