{% extends 'account/base.html' %}
{% load staticfiles %}

{% block title %}修改密码{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div id="profile" class="col-md-12 col-md-offset-1">
        {% url 'change_password' as form_url %}
        <form action="{{ form_url }}" method="post" enctype="multipart/form-data"
              class="form-horizontal col-md-offset-1 col-md-8"
              id="chang-password-form">
            {% csrf_token %}
            <div class="row form-group">
                <div class="col-md-3 text-left"><label for="id-old-password">旧密码：</label></div>
                <div class="col-md-5">{{ form.old_password }}</div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 text-left"><label for="id-new-password1">新密码：</label></div>
                <div class="col-md-5">{{ form.new_password1 }}</div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 text-left"><label for="id-new-password2">重复新密码：</label></div>
                <div class="col-md-5">{{ form.new_password2 }}</div>
            </div>
            <div class="row form-group">
                <input type="submit" value="提交" class="btn btn-default btn-lg" id="change-password-submit"/>
            </div>
        </form>
    </div>
{% endblock %}

