{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}登录{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
        <form action="." method="post" id="login" class="form-horizontal col-md-8 col-md-offset-2">{% csrf_token %}
            <div class="form-group col-md-8">
                <label for="id_username" class="col-md-5 control-label">用户名：</label>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>
            <div class="form-group col-md-8">
                <label for="id_password" class="col-md-5 control-label">密码：</label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>
            <div class="text-center col-md-8">
                <a class="btn btn-default btn-lg" id="login_submit">登录</a>
            </div>
        </form>
{% endblock %}

{% block javascript %}
<script>
$(function () {
    var csrftoken=$("[name=csrfmiddlewaretoken]").val();
    $("#login_submit").click(function () {
        $.ajax({
            url:{% url 'login' %},
            type:"post",
            data:{"username":$("#id_username").val(),"password":$("#id_password").val(),"csrfmiddlewaretoken":csrftoken},
            success:function(e){
                if(e.code==0){
                    window.location.href="{% url 'index' %}";
                }
                else{
                    alert(e.message);
                }
            },
        })
    });
})
</script>
{% endblock %}
