{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}注册{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    {% if not user.username %}
        <div class="jumbotron col-md-8 col-md-offset-2">
            <form action="." method="post" id="register" class="form-horizontal">{% csrf_token %}
                <div class="form-group col-md-8">
                    <label for="id_username" class="col-md-5 control-label">用户名：</label>
                    <div class="col-md-6 text-left">{{ form.username }}</div>
                </div>
                <div class="form-group col-md-8">
                    <label for="id_email" class="col-md-5 control-label">邮箱：</label>
                    <div class="col-md-6 text-left">{{ form.email }}</div>
                </div>
                <div class="form-group col-md-8">
                    <label for="id_password" class="col-md-5 control-label">密码：</label>
                    <div class="col-md-6 text-left">{{ form.password }}</div>
                </div>
                <div class="form-group col-md-8">
                    <label for="id_repeat_password" class="col-md-5 control-label">重复密码：</label>
                    <div class="col-md-6 text-left">{{ form.repeat_password }}</div>
                </div>
                <div class="form-group col-md-7 col-md-offset-3 text-center">
                    <div id="success_message"></div>
                    <div id="warning_message"></div>
                    <div id="error_message"></div>
                </div>
                <div class="text-center col-md-8">
                    <button type="submit" class="btn btn-default btn-lg" id="register_submit">注册</button>
                </div>
            </form>
            <p style="margin-top: 10px;">{% trans '已经注册了账号?点击' %}<a href="{% url 'login' %}">{% trans '登录' %}</a></p>
        </div>
    {% else %}
        <div class="jumbotron col-md-8 col-md-offset-2">
            <h3>您已登录！若想注册新的账户请<a href="{% url 'logout' %}">登出</a></h3>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script>

        $(function () {
            $("#register").submit(function () {
                $(this).ajaxSubmit(function (e) {
                    if (e.code === 0) {
                        window.location.href = '{% url 'index' %}';
                    }
                    else if (e.code === -200) {
                        {#alert("该用户已存在");#}
                        $("#error_message").text("该用户已存在");
                    }
                    else {
                        $("#error_message").text('');
                        for (i in e.message) {
                            $("#error_message").append("<p>"+ e.message[i] + "</p>")
                        }
                    }
                })
                return false;
            });
        })
    </script>
{% endblock %}