{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}user的个人中心{% endblock %}

{% block css %}
    <link href="{% static 'css/user.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="user-card" class="col-md-8 col-md-offset-2">
        <div class="col-md-2" id="leftlist">
            <div class="list-group">
                <a class="list-group-item disabled">
                    个人中心
                </a>
                <a href="#" class="list-group-item active">
                    个人信息
                </a>
                <a href="#" class="list-group-item">修改个人信息</a>
                <a href="#" class="list-group-item">。。。</a>
                <a href="#" class="list-group-item">。。。</a>
                <a href="#" class="list-group-item">。。。</a>
            </div>
        </div>
        <div class="col-md-10" style="background-color: #79aec8;height: 500px;" id="mainpart">
            <div id="profile" class="col-md-5 col-md-offset-1">
                {% if user.username %}
                    <table class="table">
                        <tr>
                            <td class="col-md-1 item">姓名：</td>
                            <td class="col-md-5 list">{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td class="col-md-1 item">身份：</td>
                            {% if user.account_type %}
                                <td class="col-md-5 list">{{ user.account_type }}</td>
                            {% else %}
                                <td class="col-md-5 list">待完善</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="col-md-1 item">生日：</td>
                            {% if user.birth_date %}
                                <td class="col-md-5 list">{{ user.birth_date }}</td>
                            {% else %}
                                <td class="col-md-5 list">待完善</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="col-md-1 item">公司：</td>
                            {% if user.company %}
                                <td class="col-md-5 list">{{ user.company }}</td>
                            {% else %}
                                <td class="col-md-5 list">待完善</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="col-md-1 item">学历：</td>
                            {% if user.degree %}
                                <td class="col-md-5 list">{{ user.degree }}</td>
                            {% else %}
                                <td class="col-md-5 list">待完善</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="col-md-1 item">邮箱：</td>
                            <td class="col-md-5 list">{{ user.email }}</td>
                        </tr>
                    </table>
                    这是哪儿？
                {% else %}
                    <h3>您还没登录，点击<a href="{% url 'login' %}">登录</a></h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}