{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}user的个人中心{% endblock %}

{% block css %}
    <link href="{% static 'css/user.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="user-card" class="col-md-8 col-md-offset-2">
        <div class="col-md-2" id="leftlist">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    个人信息
                </a>
                <a href="#" class="list-group-item">修改个人信息</a>
                <a href="#" class="list-group-item">。。。</a>
                <a href="#" class="list-group-item">。。。</a>
                <a href="#" class="list-group-item">。。。</a>
            </div>
        </div>
        <div class="col-md-10" style="background-color: #79aec8;height: 500px;" id="mainpart">
            <div id="profile">
                <table class="table">
                    <tr>
                        <td>姓名：</td>
                        <td>学号：</td>
                        <td>：</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}