<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.to.go.database.dao.ApplyMapper">
    <resultMap id="baseResultMap" type="apply">
        <id column="apply_id" property="id" />
        <result column="apply_user_id" property="userId" />
        <result column="apply_time" property="time" />
        <result column="apply_handler_id" property="handlerId" />
        <result column="apply_state" property="state" />
        <result column="apply_handler_time" property="handleTime" />
    </resultMap>


    <insert id="applyTeacher" parameterType="Map" keyProperty="apply_id" useGeneratedKeys="true">
        insert into apply
        (apply_user_id, apply_time, apply_note)
        VALUES
        (#{userId}, #{time}, #{note, jdbcType=VARCHAR})
    </insert>

    <insert id="applyToBeTeacher" parameterType="Map" keyProperty="apply_id" useGeneratedKeys="true">
        insert into apply
        (apply_user_id, apply_time, apply_note)
        select #{userId}, #{time}, #{note, jdbcType=VARCHAR}
        from DUAL where not exists (select * from apply where apply_user_id = #{userId} and apply_state = 1)
    </insert>

    <update id="acceptApply" parameterType="Map">
        update apply, user set
        apply.apply_handler_id = #{handlerId},
        apply.apply_handler_time = #{handleTime},
        apply.apply_state = 2,
        apply.apply_handle_note = #{note, jdbcType=VARCHAR},
        user.user_type = 3
        where apply_id = #{applyId} and apply.apply_user_id = user.user_id and apply_state = 1
    </update>

    <update id="rejectApply" parameterType="Map">
        update apply set
        apply_state = 3,
        apply_handler_time = #{handleTime},
        apply_handler_id = #{handlerId},
        apply_handle_note = #{note, jdbcType=VARCHAR}
        where apply_id = #{applyId} and apply_state = 1
    </update>

    <select id="getAllApplies" parameterType="Map" resultMap="baseResultMap">
        select * from apply where 1 = 1
        <if test="power != 2">
            and apply_user_id = #{id}
        </if>
    </select>

    <select id="getAllUnhandledApplies" parameterType="Map" resultMap="baseResultMap">
        select * from apply
        where apply_state = 1
        <if test="power != 2">
            and apply_user_id = #{id}
        </if>
    </select>

    <select id="getAllHandledApplies" parameterType="Map" resultMap="baseResultMap">
        select * from apply
        where (apply_state = 2 or apply_state = 3)
        <if test="power != 2">
            and apply_user_id = #{id}
        </if>
    </select>
</mapper>
