<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.to.go.database.dao.SchoolMapper">
    <resultMap id="schoolMap" type="school">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="depart" property="depart" />
        <result column="location" property="location" />
        <result column="level" property="level" />
        <result column="type" property="type" />
    </resultMap>

    <select id="querySchool" parameterType="String" resultMap="schoolMap">
        <bind name="pattern" value="'%' + keyword + '%'" />
        select * from school where name like #{pattern}
    </select>
</mapper>
