{% extends 'account/base.html' %}

{% load staticfiles %}

{% block title %}正在学习{% endblock %}

{% block content %}
    <div id="profile">
        <a href="#" class="a-course">
                <div class="course row">
                    <div class="course_img col-md-3"><img class="img-responsive img-rounded center-block"
                                                          src="{% static 'img/course_default.jpg' %}" width="200px">
                    </div>
                    <div class="course_intro">
                        <h3>课程标题</h3>
                        <h5>作者：<span>hello</span></h5>
                        <h4>介绍：<span>这是介绍</span></h4>
                    </div>
                </div>
            </a>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            judge_page();
        })
    </script>
{% endblock %}