{% extends 'account/base.html' %}
{% load staticfiles %}
{% block title %}{{ user.username }} 的个人中心{% endblock %}

{% block content %}
    <div id="profile" class="col-md-10 col-md-offset-1">
        {% if user.username %}
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td class="col-md-2 item">用户名：</td>
                        <td class="col-md-6 list">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-2 item">身份：</td>
                        {% if userprofile.account_type == 't' %}
                            <td class="col-md-6 list">教师</td>
                        {% else %}
                            <td class="col-md-6 list">学生</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="col-md-2 item">生日：</td>
                        {% if userprofile.birth_date %}
                            <td class="col-md-6 list">{{ userprofile.birth_date }}</td>
                        {% else %}
                            <td class="col-md-6 list">待完善</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="col-md-2 item">公司：</td>
                        {% if userprofile.company %}
                            <td class="col-md-6 list">{{ userprofile.company }}</td>
                        {% else %}
                            <td class="col-md-6 list">待完善</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="col-md-2 item">学历：</td>
                        {% if userprofile.degree %}
                            <td class="col-md-6 list">{{ userprofile.degree }}</td>
                        {% else %}
                            <td class="col-md-6 list">待完善</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="col-md-2 item">邮箱：</td>
                        <td class="col-md-6 list">{{ user.email }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 img_desc">
                <div id="avatar">
                    {% if user.avatar %}
                        <img src="{{ userprofile.avatar |striptags }}" class="img-circle" id="my_photo"
                             name="user_face">
                    {% else %}
                        <img name="user_face" src="{% static 'img/avatar.png' %}" class="img-circle"
                             width="270px"
                             id="my_photo">
                    {% endif %}
                </div>
                <div id="desc">
                    {% if userprofile.description %}
                        <p>{{ userprofile.description }}</p>
                    {% else %}
                        <p>您还没有添加描述。</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h3>您还没登录，点击<a href="{% url 'login' %}">登录</a></h3>
        {% endif %}
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            judge_page()
        })
    </script>

{% endblock %}