<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.to.go.database.dao.HistoryMapper">
    <resultMap id="courseHistoryMap" type="hit.to.go.entity.history.CourseHistory">
        <id column="history_id" property="id" />
        <result column="history_user_id" property="userId" />
        <result column="history_course_id" property="courseId" />
        <result column="history_date" property="date" />
        <result column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <result column="course_teacher_id" property="teacherId" />
        <result column="course_intro" property="intro" />
        <result column="course_img" property="img" />
        <result column="note" property="note" />
        <result column="course_state" property="state" />
        <result column="course_label" property="label" />
        <result column="course_user_num" property="userNum" />
        <result column="course_lesson_num" property="lessonNum" />
        <result column="course_grade" property="grade" />
    </resultMap>

    <insert id="addNewHistory" parameterType="Map">
        insert into history
        (history_user_id, history_course_id, history_date)
        VALUES
        (#{id}, #{courseId}, #{date})
    </insert>

    <select id="getCourseHistory" parameterType="String" resultMap="courseHistoryMap">
        select * from course c, history h
        where c.course_id = h.history_course_id and h.history_user_id = #{id}
    </select>
</mapper>
