{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block default_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<header>
    {% include "header.html" %}
</header>
{% block content %}{% endblock %}

<footer>
    {% include 'footer.html' %}
</footer>
{% block default_js %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'fontawesome/svg-with-js/js/fontawesome-all.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>