<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.go.forward.business.database.dao.ActionMapper">
    <resultMap id="actionMap" type="hit.go.forward.common.entity.action.Action">
        <id column="user_power_id" property="id" />
        <result column="user_power_action" property="url" />
        <result column="power" property="power" />
        <result column="para" property="para" />
        <result column="result" property="result" />
        <result column="note" property="note" />
    </resultMap>

    <select id="getAllActions" resultMap="actionMap">
        select * from user_power
    </select>

</mapper>
