<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.go.forward.business.database.dao.CourseMapper">
    <resultMap id="studyCourseMap" type="hit.go.forward.common.entity.course.Study">
        <id column="study_id" property="id"/>
        <result column="study_date" property="date"/>
        <result column="study_state" property="state"/>
        <association property="user" javaType="hit.go.forward.common.entity.user.User">
            <id column="study_user_id" jdbcType="INTEGER" property="id" />
            <result column="study_user_name" jdbcType="VARCHAR" property="name" />
            <result column="study_user_type" jdbcType="INTEGER" property="type" />
            <result column="study_user_sex" jdbcType="VARCHAR" property="sex" />
            <result column="study_birthday" jdbcType="DATE" property="birthday" />
            <result column="study_user_email" jdbcType="VARCHAR" property="email" />
            <result column="study_user_education" jdbcType="VARCHAR" property="education" />
            <result column="study_user_intro" jdbcType="VARCHAR" property="intro" />
            <result column="study_note" jdbcType="VARCHAR" property="note" />
            <result column="study_user_phone" jdbcType="VARCHAR" property="phone" />
            <result column="study_user_img" jdbcType="VARCHAR" property="img" />

            <association property="school" javaType="School">
                <id column="study_school_id" property="id"/>
                <result column="study_school_name" property="name" />
                <result column="study_school_code" property="code" />
                <result column="study_school_depart" property="depart" />
                <result column="study_school_location" property="location" />
                <result column="study_school_level" property="level" />
                <result column="study_school_type" property="type" />
            </association>
        </association>
        <collection property="course" resultMap="courseMap"/>
    </resultMap>

    <resultMap id="courseMap" type="hit.go.forward.common.entity.course.Course">
        <id column="course_id" property="id" />
        <result column="course_name" property="name" />
        <result column="course_intro" property="intro" />
        <result column="file_url" property="img" />
        <result column="note" property="note" />
        <result column="course_state" property="state" />
        <result column="course_label" property="label" />
        <result column="course_user_num" property="userNum" />
        <result column="course_lesson_num" property="lessonNum" />
        <result column="course_grade" property="grade" />
        <result column="study_course_img" property="img" />
        <result column="course_brief" property="brief" />
        <result column="course_needs" property="needs" />
        <result column="course_books" property="books" />
        <result column="course_create_date" property="createDate"/>
        <result column="course_release_date" property="releaseDate"/>
        <result column="course_update_date" property="updateDate"/>
        <result column="course_sum_time" property="sumTime"/>
        <association property="teacher" javaType="User">
            <id column="user_id" jdbcType="INTEGER" property="id" />
            <result column="user_name" jdbcType="VARCHAR" property="name" />
            <result column="user_type" jdbcType="INTEGER" property="type" />
            <result column="user_sex" jdbcType="VARCHAR" property="sex" />
            <result column="birthday" jdbcType="DATE" property="birthday" />
            <result column="user_email" jdbcType="VARCHAR" property="email" />
            <result column="user_education" jdbcType="VARCHAR" property="education" />
            <result column="user_intro" jdbcType="VARCHAR" property="intro" />
            <result column="note" jdbcType="VARCHAR" property="note" />
            <result column="user_phone" jdbcType="VARCHAR" property="phone" />
            <result column="teacher_img" jdbcType="VARCHAR" property="img" />

            <association property="school" javaType="School">
                <id column="school_id" property="id"/>
                <result column="school_name" property="name" />
                <result column="school_code" property="code" />
                <result column="school_depart" property="depart" />
                <result column="school_location" property="location" />
                <result column="school_level" property="level" />
                <result column="school_type" property="type" />
            </association>
        </association>
        <association property="type" javaType="CourseType">
            <id column="course_type_id" property="id"/>
            <result column="course_type_name" property="name"/>
        </association>
    </resultMap>

    <resultMap id="courseLessonsMap" type="hit.go.forward.common.entity.course.CourseLessons">
        <association property="course">
            <id column="course_id" property="id"/>
            <result column="course_name" property="name"/>
        </association>
        <collection property="lessons" ofType="hit.go.forward.common.entity.course.Lesson" javaType="ArrayList">
            <id column="lesson_id" property="id"/>
            <result column="lesson_num" property="num"/>
            <result column="lesson_title" property="title"/>
            <result column="lesson_intro" property="intro"/>
            <result column="note" property="note"/>
            <!--<result column="video_url" property="videoUrl"/>-->
            <!--<result column="file_url" property="fileUrl"/>-->
            <result column="lesson_course_id" property="courseId"/>
            <result column="lesson_create_date" property="createDate"/>
            <result column="lesson_update_date" property="updateDate"/>
            <result column="lesson_state" property="state"/>
        </collection>
    </resultMap>

    <resultMap id="lessonMap" type="hit.go.forward.common.entity.course.Lesson">
        <id column="lesson_id" property="id"/>
        <result column="lesson_num" property="num"/>
        <result column="lesson_title" property="title"/>
        <result column="lesson_intro" property="intro"/>
        <result column="note" property="note"/>
        <result column="video_url" property="videoUrl"/>
        <result column="file_url" property="fileUrl"/>
        <result column="lesson_course_id" property="courseId"/>
        <result column="lesson_create_date" property="createDate"/>
        <result column="lesson_update_date" property="updateDate"/>
        <result column="lesson_state" property="state"/>
    </resultMap>

    <sql id="courseColumns">
      course.*, user.*, school.*, f1.file_url as study_course_img, f2.file_url as teacher_img, course_type.* from
      course left join user on course.course_teacher_id = user.user_id
      left join school on user.user_school = school.school_id
      left join file f1 on course.course_img = f1.file_id
      left join file f2 on user.user_img = f2.file_id
      left join course_type on course.course_type_id = course_type.course_type_id
    </sql>

    <sql id="studyCourseColumns">
      study.*, course.*, course_type.*,
      u1.user_id as study_user_id, u1.user_name as study_user_name, u1.user_sex as study_user_sex,
      u1.birthday as study_birthday, u1.user_email as study_user_email, u1.user_education as study_user_education,
      u1.user_school as study_user_school, u1.user_intro as study_user_intro, u1.note as study_note,
      u1.user_phone as study_user_phone, u1.user_type as study_user_type,
      s1.school_id as study_school_id, s1.school_name as study_school_name, s1.school_code as study_school_code,
      s1.school_depart as study_school_depart, s1.school_location as study_achool_location,
      s1.school_level as study_school_level, s1.school_type as study_school_type,
      u2.*, s2.*, f1.file_url as study_user_img, f2.file_url as teacher_img, f3.file_url as study_course_img
      from
      study left join course on study.study_course_id = course.course_id
      left join user u1 on study.study_user_id = u1.user_id
      left join school s1 on u1.user_school = s1.school_id
      left join user u2 on course.course_teacher_id = u2.user_id
      left join school s2 on u2.user_school = s2.school_id
      left join file f1 on u1.user_img = f1.file_id
      left join file f2 on u2.user_img = f2.file_id
      left join file f3 on course.course_img = f3.file_id
      left join course_type on course.course_type_id = course_type.course_type_id
    </sql>

    <sql id="courseLessonsColumns">
      lesson.*, course.*, user.*, school.*, f1.file_url as study_course_img, f2.file_url as teacher_img, course_type.* from
      lesson inner join course on lesson.lesson_course_id = course.course_id
      left join user on course.course_teacher_id = user.user_id
      left join school on user.user_school = school.school_id
      left join file f1 on course.course_img = f1.file_id
      left join file f2 on user.user_img = f2.file_id
      left join course_type on course.course_type_id = course_type.course_type_id
    </sql>

    <insert id="addNewCourse" parameterType="Map" useGeneratedKeys="true" keyProperty="course_id">
        insert into course
        (course_name,
        course_teacher_id,
        course_intro,
        note,
        course_brief,
        course_books,
        course_needs,
        course_sum_time,
        course_type_id,
        course_state,
        course_label,
        course_lesson_num,
        course_create_date,
        course_update_date
        )
        values
        (
          #{courseName},
          #{teacherId},
          #{courseIntro, jdbcType=VARCHAR},
          #{note, jdbcType=VARCHAR},
          #{brief, jdbcType=VARCHAR},
          #{books, jdbcType=VARCHAR},
          #{needs, jdbcType=VARCHAR},
          #{sumTime, jdbcType=VARCHAR},
          #{typeId, jdbcType=INTEGER},
          2,
          #{label, jdbcType=VARCHAR},
          #{lessonNum, jdbcType=INTEGER},
          NOW(),
          NOW()
        )
    </insert>

    <update id="updateCourse" parameterType="Map">
        update course set
        course_name = #{courseName},
        course_teacher_id = #{teacherId},
        course_intro = #{courseIntro, jdbcType=VARCHAR},
        note = #{note, jdbcType=VARCHAR},
        course_brief = #{brief, jdbcType=VARCHAR},
        course_books = #{books, jdbcType=VARCHAR},
        course_needs = #{needs, jdbcType=VARCHAR},
        course_sum_time = #{sumTime, jdbcType=VARCHAR},
        course_type_id = #{typeId, jdbcType=INTEGER},
        course_state = 2,
        course_label = #{label, jdbcType=VARCHAR},
        course_lesson_num = #{lessonNum, jdbcType=INTEGER},
        course_update_date = NOW()
        where course_id = #{courseId} and course_teacher_id = #{teacherId}
    </update>

    <update id="updateCourseImg" parameterType="Map">
        update course set course_img = #{img}
        where course_id = #{courseId} and course_teacher_id = #{teacherId}
    </update>

    <update id="acceptCourseApply" parameterType="String">
        update course set course_state = 4, course_release_date = NOW() where course_id = #{id} and course_state = 2
    </update>

    <update id="rejectCourseApply" parameterType="String">
        update course set course_state = 3, course_release_date = NOW() where course_id = #{id} and course_state = 2
    </update>

    <select id="getAllAvailableCourses" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course.course_state = 4
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getAllTeacherCourses" parameterType="String" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course_teacher_id = #{id}
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getAllStudentCourses" parameterType="String" resultMap="studyCourseMap">
        select
        <include refid="studyCourseColumns"/>
        where course.course_id = study_course_id and study_user_id = #{id}
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getJoinedCourses" parameterType="String" resultMap="studyCourseMap">
        select
        <include refid="studyCourseColumns"/>
        where course.course_id = study_course_id and study_user_id = #{id} and study_state = 1
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getLearningCourses" parameterType="String" resultMap="studyCourseMap">
        select
        <include refid="studyCourseColumns"/>
        where course.course_id = study_course_id and study_user_id = #{id} and study_state = 2
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getLearnedCourses" parameterType="String" resultMap="studyCourseMap">
        select
        <include refid="studyCourseColumns"/>
        where course.course_id = study_course_id and study_user_id = #{id} and study_state = 3
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getStudentCourses" parameterType="Map" resultMap="studyCourseMap">
        select
        <include refid="studyCourseColumns" />
        where course.course_id = study_course_id and study_user_id = #{userId}
        <choose>
            <when test="type == 'learned'">
                and study_state = 3
            </when>
            <otherwise>
                and study_state = 2
            </otherwise>
        </choose>
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getCourseById" parameterType="String" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course_id = #{courseId}
    </select>

    <select id="getAllDraftCourses" parameterType="String" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course_state = 1 and course_teacher_id = #{id}
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getAllApplyingCourses" parameterType="String" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course_state = 2 and course_teacher_id = #{id}
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getAllRejectedCourses" parameterType="String" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course_state = 3 and course_teacher_id = #{id}
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getAllReleasedCourses" parameterType="String" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course_state = 4 and course_teacher_id = #{id}
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getTeacherCourses" parameterType="Map" resultMap="courseMap">
        select
        <include refid="courseColumns" />
        where course_teacher_id = #{userId}
        <choose>
            <when test="type == 'applying'">
                and course_state = 2
            </when>
            <when test="type == 'rejected'">
                and course_state = 3
            </when>
            <otherwise>
                and course_state = 4
            </otherwise>
        </choose>
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getManageableCourses" parameterType="Map" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where 1 = 1
        <choose>
            <when test="type == 'accepted'">
                and course_state = 4
            </when>
            <when test="type == 'rejected'">
                and course_state = 3
            </when>
            <when test="type == 'applying'">
                and course_state = 2
            </when>
            <when test="type == null or type == 'all'">
                and course_state > 1
            </when>
            <otherwise>
                and course_state = -1000
            </otherwise>
        </choose>
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getAdminCourses" parameterType="Map" resultMap="courseMap">
        select
        <include refid="courseColumns" />
        where 1 = 1
        <choose>
            <when test="type == 'pending'">
                and course_state = 2
            </when>
            <when test="type == 'rebutted'">
                and course_state = 3
            </when>
            <otherwise>
                and course_state = 4
            </otherwise>
        </choose>
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getCoursesNeedAudit" parameterType="Map" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        where course.course_id in
        (select lesson.lesson_course_id from lesson where lesson.lesson_state = 1)
    </select>

    <select id="getCourseByType" parameterType="String" resultMap="courseMap">
        select
        course.*, user.*, school.*, f1.file_url as study_course_img, f2.file_url as teacher_img, course_type.* from
        course left join user on course.course_teacher_id = user.user_id
        left join school on user.user_school = school.school_id
        left join file f1 on course.course_img = f1.file_id
        left join file f2 on user.user_img = f2.file_id
        join course_type
        where course.course_type_id = course_type.course_type_id and
        (course_type.course_type_id = #{typeId} or course_type.course_type_parent = #{typeId})
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getCourses" parameterType="Map" resultMap="courseMap">
        select
        <include refid="courseColumns"/>
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <sql id="courseTypeColumns">
        course_type.course_type_id as id,
        course_type.course_type_name as name,
        course_type.course_type_level as level,
        course_type.course_type_parent as parent
        from course_type
    </sql>

    <select id="getAllCourseType" resultType="courseType">
      select
      <include refid="courseTypeColumns"/>
    </select>

    <resultMap id="courseChapterMap" type="hit.go.forward.common.entity.course.CourseChapter">
        <id column="lesson_id" property="id"/>
        <result column="lesson_chapter_num" property="chapterNum"/>
        <result column="lesson_chapter_title" property="chapterTitle"/>
        <result column="lesson_num" property="sectionNum"/>
        <result column="lesson_title" property="sectionTitle"/>
        <result column="lesson_state" property="state" />
    </resultMap>

    <resultMap id="courseChapterDetailMap" type="hit.go.forward.common.entity.course.CourseChapterDetail">
        <id column="lesson_id" property="id"/>
        <result column="lesson_chapter_num" property="chapterNum"/>
        <result column="lesson_chapter_title" property="chapterTitle"/>
        <result column="lesson_num" property="sectionNum"/>
        <result column="lesson_title" property="sectionTitle"/>
        <result column="lesson_state" property="state" />
        <result column="file_url" property="file" />
        <result column="video_url" property="video" />
    </resultMap>

    <select id="getCourseChapters" parameterType="String" resultMap="courseChapterMap">
      select lesson_id, lesson_num, lesson_title, lesson_chapter_num, lesson_chapter_title, lesson_state
      from lesson where lesson_course_id = #{courseId} and lesson_state = 2
    </select>

    <select id="getCourseChaptersDetail" parameterType="Map" resultMap="courseChapterDetailMap">
        select l.lesson_id, l.lesson_num, l.lesson_title, l.lesson_chapter_num, l.lesson_chapter_title, l.lesson_state,
        f1.file_url as file_url, f2.file_url as video_url
        from lesson l left join file f1 on l.lesson_file_id = f1.file_id
        left join file f2 on l.lesson_video_id = f2.file_id where l.lesson_course_id = #{courseId}
        <choose>
            <when test="type != null and type == 'all'">
                and 1 = 1
            </when>
            <otherwise>
                and l.lesson_state = 2
            </otherwise>
        </choose>
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

    <select id="getTeacherCourseChapters" parameterType="String" resultMap="courseChapterMap">
      select lesson_id, lesson_num, lesson_title, lesson_chapter_num, lesson_chapter_title, lesson_state
      from lesson where lesson_course_id = #{courseId}
    </select>

    <select id="getManageableCourseLessons" parameterType="Map" resultMap="courseLessonsMap">
        select course.*, lesson.* from lesson left join course on lesson.lesson_course_id = course.course_id
    </select>

    <select id="selectCourseLessons" parameterType="Integer" resultType="lesson">
        select * from lesson where lesson.lesson_course_id = #{id}
    </select>
</mapper>
