<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hit.go.forward.business.database.dao.FileMapper">
    <resultMap id="BaseResultMap" type="user">

    </resultMap>

    <insert id="addNewFile" parameterType="resource" useGeneratedKeys="true" keyProperty="id">
        insert into file
        (file_name, file_user_id, file_type, note, file_url, file_update_date, file_lesson_id, file_intro)
        values
        (
            #{name},
            #{userId},
            #{type},
            #{note, jdbcType=VARCHAR},
            #{url},
            #{date},
            #{lessonId},
            #{intro, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateFile" parameterType="resource">
        update file set
        file_update_date = #{date},
        file_type = #{type},
        file_url = #{url},
        file_user_id = #{userId}
        where
        <choose>
            <when test="id != null">
                file_id = #{id}
            </when>
            <when test="name != null">
                file_name = #{name}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>

    </update>

    <select id="queryUrlById" parameterType="String" resultType="String">
      select file_url from file where file_id = #{id}
    </select>

    <select id="selectFileIdByUrl" parameterType="String" resultType="String">
        select file_id from file where file.file_url = #{url}
    </select>
</mapper>
