{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}登录{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    {% if not user.username %}
        <div class="jumbotron col-md-8 col-md-offset-2">
            <form action="../" method="post" id="login" class="form-horizontal">{% csrf_token %}
                <div class="form-group col-md-7">
                    <label for="id_username" class="col-md-5 control-label">用户名：</label>
                    <div class="col-md-6 text-left">{{ form.username }}</div>
                </div>
                <div class="form-group col-md-7">
                    <label for="id_password" class="col-md-5 control-label">密码：</label>
                    <div class="col-md-6 text-left">{{ form.password }}</div>
                </div>
                <div class="form-group col-md-7 col-md-offset-3 text-center">
                    <div id="success_message"></div>
                    <div id="warning_message"></div>
                    <div id="error_message"></div>
                </div>
                <div class="text-center col-md-7">
                    <a class="btn btn-default btn-lg" id="login_submit">登录</a>
                </div>
            </form>
            <p style="margin-top: 10px;">{% trans '忘记密码?' %}<a href="#">{% trans '重置' %}</a></p>
            <p style="margin-top: 10px;">{% trans '如果您还没有账号,点击' %}<a href="{% url 'register' %}">{% trans '注册' %}</a>
            </p>
        </div>
    {% else %}
        <div class="jumbotron col-md-8 col-md-offset-2">
            <h3>您已登录！点击<a href="{% url 'logout' %}">登出</a></h3>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $("#login_submit").click(function () {
                $.ajax({
                    url:{% url 'login' %},
                    type: "post",
                    data: {
                        "username": $("#id_username").val(),
                        "password": $("#id_password").val(),
                        "csrfmiddlewaretoken": csrftoken
                    },
                    success: function (e) {
                        if (e.code === 0) {
                            $("#success_message").text('登陆成功！');
                            setTimeout(function () {
                                window.location.href = '{{ next }}';
                            }, 1000);
                        }
                        else {
                            $("#error_message").text(e.message)
                        }
                    },
                })
            });
        })
    </script>
{% endblock %}
