{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}注册{% endblock %}

{% block css %}
    <style>
        .pwd-bar {
            background: url('{% static "img/pwd-1.png" %}') no-repeat;
            height: 14px;
            width: 180px;
            overflow: hidden;
        }

        .pwd-bar-on {
            background: url('{% static "img/pwd-2.png" %}') no-repeat;
            position: absolute;
            top: 1px;
            left: 2px;
            height: 14px;
            width: 0;
            -webkit-transition: width .5s ease-in;
            -moz-transition: width .5s ease-in;
            -o-transition: width .5s ease-in;
            transition: width .5s ease-in;
        }
        .password-judge {
            clear: both;
            position: relative;
            top: 8px;
            width: 180px;
        }

        .pwd-fob .pwd-bar-on {
            width: 0;
        }

        .pwd-weak .pwd-bar-on {
            width: 60px;
        }

        .pwd-mid .pwd-bar-on {
            width: 120px;
        }

        .pwd-max .pwd-bar-on {
            width: 180px;
        }

        .pwd-msg {
            padding-top: 2px;
            width: 180px;
            overflow: hidden;
        }

        .pwd-msg span {
            color: #3c3c3c;
            text-align: center;
            float: left;
            width: 58px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if not user.username %}
        <div class="jumbotron col-md-8 col-md-offset-2">
            <img src="{% static 'img/account_filler.jpg' %}" class="col-md-5 img-responsive">
            <form action="." method="post" id="register" class="form-horizontal col-md-4 col-md-offset-1">{% csrf_token %}
                <div class="form-group">
                    <div class="text-left">{{ form.username }}</div>
                    <div class="hidden">
                        <i aria-hidden="true" id="ajaxUsername"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-left">{{ form.email }}</div>
                    <div class="hidden">
                        <i aria-hidden="true" id="ajaxEmail"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-left">{{ form.password }}</div>
                    <div class="password-judge">
                        <div class="pwd-bar"></div>
                        <div class="pwd-bar-on"></div>
                        <div class="pwd-msg">
                            <span>弱</span>
                            <span>中</span>
                            <span>强</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-left">{{ form.repeat_password }}</div>
                </div>
                <div class="form-group text-center">
                    <div class="passowrd-msg"></div>
                    <div id="success_message"></div>
                    <div id="warning_message"></div>
                    <div id="error_message"></div>
                </div>
                <div class="form-group text-center">
                    <p style="margin-top: 10px;">{% trans '已经注册了账号?点击' %}<a href="{% url 'login' %}">{% trans '登录' %}</a></p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default btn-lg" id="register_submit">注册</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="jumbotron col-md-8 col-md-offset-2">
            <h3>您已登录！若想注册新的账户请<a href="{% url 'logout' %}">登出</a></h3>
        </div>
    {% endif %}
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(function () {
            $username = $("#id_username");
            $password = $("#id_password");
            $email = $("#id_email");
            $repeat_password =  $("#id_repeat_password");
            $register_submit = $("#register_submit");

            $username.attr({'placeholder':"用户名"});
            $password.attr({'placeholder':"密码"});
            $email.attr({'placeholder':"邮箱"});
            $repeat_password.attr({'placeholder':"重复密码"});

            {#等一个可以返回用户名或email是否存在的ajax#}
            {#$username.onchange(getUsername());#}
            {#$email.onchange(getEmail());#}
            var $pwd_judge=$(".password-judge");
            var $pwd_msg=$(".passowrd-msg");
            $pwd_judge.hide();
            $password.keyup(function () {
                if(!password_judge($password.val())){
                    $pwd_msg.text("密码长度太短，请至少使用6个字符或数字");
                    $register_submit.attr('disabled','disabled')
                }
                else{
                    $pwd_msg.text("");
                }
            });
            $password.focus(function () {
                $pwd_judge.show('normal');
            });
            $password.blur(function () {
                $pwd_judge.hide('normal');
            });
            $repeat_password.blur(function(){
                if($password.val()===$repeat_password.val()){
                    $pwd_msg.text('');
                    $register_submit.removeAttr('disabled');
                }
                else{
                    $pwd_msg.text("两次密码不一致");
                    $register_submit.attr('disabled','disabled');
                }
            });
            function password_judge(password1) {
                var $pwd_bar_on = $(".password-judge");
                var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
                var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
                var enoughRegex = new RegExp("(?=.{6,}).*", "g");
                if (enoughRegex.test(password1) === false) {
                    $pwd_bar_on.removeClass('pwd-mid');
                    $pwd_bar_on.removeClass('pwd-weak');
                    $pwd_bar_on.removeClass('pwd-max');
                    $pwd_bar_on.addClass('pwd-fob');
                    return false;
                }
                else if (strongRegex.test(password1)) {
                    $pwd_bar_on.removeClass('pwd-mid');
                    $pwd_bar_on.removeClass('pwd-weak');
                    $pwd_bar_on.removeClass('pwd-fob');
                    $pwd_bar_on.addClass('pwd-max');
                }
                else if (mediumRegex.test(password1)) {
                    $pwd_bar_on.removeClass('pwd-fob');
                    $pwd_bar_on.removeClass('pwd-weak');
                    $pwd_bar_on.removeClass('pwd-max');
                    $pwd_bar_on.addClass('pwd-mid');
                }
                else {
                    $pwd_bar_on.removeClass('pwd-mid');
                    $pwd_bar_on.removeClass('pwd-fob');
                    $pwd_bar_on.removeClass('pwd-max');
                    $pwd_bar_on.addClass('pwd-weak');
                }
                return true;
            }

            $("#register").submit(function () {
                $error=$("#error_message");
                $warning=$("#warning_message");
                $error.text('');
                $warning.text('');
                if($password.val()!==$repeat_password.val()){
                    $warning.append("<p>密码不一致</p>");
                    return false;
                }
                $(this).ajaxSubmit(function (e) {
                    if (e.code === 0) {
                        window.location.href = '{% url 'index' %}';
                    }
                    if (e.code === -200) {
                        $error.append("<p>该用户已存在</p>");
                    }
                    if(e.code===-201){
                        $error.append("<p>该邮箱已存在</p>")
                    }
                    if(e.code===-100) {
                        for (i in e.message) {
                            $error.append("<p>"+ e.message[i] + "</p>")
                        }
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}