{% extends "account/base.html" %}

{% load staticfiles %}

{% block title %}教师申请管理{% endblock %}

{% block content %}
    <div id="profile">
        <h2 class="user-head">申请名单：</h2>
        <div id="apply">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th class="col-md-1 text-center">申请人姓名</th>
                    <th class="col-md-5 text-center">......</th>
                    <th class="col-md-3 text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for application in teacher_applications %}
                        {% url 'approve_application' application.id as url_approve %}
                        {% url 'deny_application' application.id as url_deny %}
                        <td>{{ application.user.username }}</td>
                        <td>......</td>
                        <td class="handles">
                            <form action="{{ url_approve }}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="同意"/>
                            </form>
                            <form action="{{ url_deny }}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="拒绝"/>
                            </form>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <ul id="pagination"></ul>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/bootstrap-paginator.js' %}"></script>
    <script>
        $(function () {
            judge_page();
            {# 还未完成，需要后端传总页数和当前页数 #}
            {# https://www.jq22.com/jquery-info17338 #}
            var currentPage = {{ page_num }};
            var totalPages = {{ total_page }};
            $("#pagination").bootstrapPaginator({
                bootstrapMajorVersion: 3,
                currentPage: currentPage,
                numberOfPages: 5,
                totalPages: totalPages,
                shouldShowPage: true,
                useBootstrapTooltip: true,
                //点击事件
                onPageClicked: function (event, originalEvent, type, page) {
                    window.location.href='{% url 'apply_manage' %}'+page;
                }
            });
        })

    </script>
{% endblock %}
